Repository hjbugajski/applicationtrackr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path .gitignore, stylelint --fix --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

build: update node version
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

release: 2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
  src/app/settings/about/about.component.html
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies and husky
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

release: 2.0.2
  CHANGELOG.md
  package-lock.json
  package.json
  src/app/settings/about/about.component.html
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

fix: possible undefined value
  src/app/dashboard/applications/components/application-card/application-card.component.html
  src/app/dashboard/applications/components/application-card/application-card.component.ts
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: upgrade to angular 18
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/assets/styles/_themes.scss
  tsconfig.json
Due: eslint --fix --ignore-path .gitignore, stylelint --fix --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: switch to pnpm
  .github/workflows/deploy.yml
  .github/workflows/pull_request.yml
  .prettierignore
  angular.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: providers and imports
  src/app/app.module.ts
  src/app/dashboard/applications/components/column/column.component.ts
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

release: 3.0.0
  CHANGELOG.md
  package.json
  src/app/settings/about/about.component.html
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

fix: build output dir
  firebase.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

release: 3.0.1
  CHANGELOG.md
  package.json
  src/app/settings/about/about.component.html
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: add CODEOWNERS (#77)
  .github/CODEOWNERS
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  .github/workflows/deploy.yml
  .github/workflows/pull_request.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: export data
  src/app/settings/account/account.component.html
  src/app/settings/account/account.component.ts
  src/app/shared/services/firebase-functions/firebase-functions.service.ts
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

release: 3.1.0
  CHANGELOG.md
  package.json
  src/app/settings/about/about.component.html
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

feat: export data (#80)
  .github/workflows/deploy.yml
  .github/workflows/pull_request.yml
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/settings/about/about.component.html
  src/app/settings/account/account.component.html
  src/app/settings/account/account.component.ts
  src/app/shared/services/firebase-functions/firebase-functions.service.ts
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

docs: update README
  .github/workflows/deploy.yml
  .github/workflows/pull_request.yml
  README.md
Due: prettier --write --ignore-unknown --ignore-path .gitignore

docs: update README (#85)
  .github/workflows/deploy.yml
  .github/workflows/pull_request.yml
  README.md
Due: prettier --write --ignore-unknown --ignore-path .gitignore

Path conditions:
  eslint --fix --ignore-path .gitignore: any of: *.{ts,html}
  stylelint --fix --ignore-path .gitignore: any of: *.scss
  prettier --write --ignore-unknown --ignore-path .gitignore: any of: *
